body{ margin: 0;
    padding: 0;
   }

.channel{ 
    display: flex;
    flex-direction: row;
    align-items: center;
}

 .channel audio{
    margin: 50px;
    padding: 10px;
} 

.channel h2{
    margin: 50px;
    padding: 10px;
}

